<p><%= image_tag("needhelp.jpg", :alt => "Need Help Image", :class => "img-fluid") %></p>
<p>For additional help, please visit <a href="http://www.google.com">http://www.google.com</a></p>



<p>Find me in app/views/static_pages/help.html.erb</p>
