<p>Welcome to my ToyApp Demo Site</p>
<p>I've recently added some bootstrap to the site. Check it out!</p>
<%= image_tag("art.jpg", :alt => "abstract colorful art", :class => "img-fluid") %>
<p>I really like color, just like the picture shown above. I used bootsrap theme in order to incorperate some color into this site!</p>
<p>Find me in app/views/static_pages/home.html.erb</p>
<p>Route to me using StaticPages#home or static_pages/home</p>

