Puppies! How could this not make you smile?! So smile!
<p><%= image_tag("puppies1.jpg", :alt => "Cute puppies", :class => "img-fluid") %></p>
<p><%= image_tag("puppies2.jpg", :alt => "More cute puppies", :class => "img-fluid") %></p>
<p><%= image_tag("puppies3.jpg", :alt => "Even more cute puppies", :class => "img-fluid") %></p>

<p>Puppies page is actually located at StaticPages#goofy or static_pages/puppies</p